/* SCSS organized alphabetically
 * in the following order:
 *
 * IMPORTS, MIXINS & VARIABLES
 *    Imports
 *    Mixins
 *    Colors
 *    Fonts
 *    Font weights
 *
 * STYLE
 *    Tags
 *    Classes
 *      Display
 *      Containers
 *    IDs
 *
 * @ RULES
 *    Media Queries
 */
/* IMPORTS & VARIABLES */
@import "https://fonts.googleapis.com/css?family=Assistant:200,400,600";
/* STYLE */
* {
  margin: 0;
  padding: 0; }

a:hover {
  cursor: pointer; }

.box-shadow, .container-content .content-box, .header-bar, .slider .img-shadow img {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5); }

.flex-col, .container-contact, .container-content .content-box, .container-header .header-bar, .container-profile {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-row, .container-contact .container-social, .container-content .content-box .skills-box, .container-content .content-box .work-box .work-experience-box, .slider .slide {
  display: flex;
  align-items: center; }

.flex-spacebetween, .container-contact, .container-contact .container-social {
  justify-content: space-between; }

.rotate-180deg {
  transform: rotate(180deg); }

.container-contact {
  background-color: #212121;
  color: white;
  font-family: "Assistant", sans-serif;
  margin-top: .5em;
  padding: 1em 0; }
  .container-contact span {
    font-size: .8em;
    font-weight: 200;
    text-align: center; }
    .container-contact span:last-of-type {
      font-size: .6em; }
    .container-contact span a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      transition: color 250ms ease-in-out; }
      .container-contact span a:hover {
        color: #9C27B0; }
  .container-contact .container-social {
    margin: .5em 0; }
    .container-contact .container-social a {
      color: white;
      border: 1px solid white;
      border-radius: 50%;
      font-size: 1.25em;
      height: 1.5em;
      line-height: 1.5em;
      margin: 0 .25em;
      text-align: center;
      transition: all 250ms ease-in-out;
      width: 1.5em; }
      .container-contact .container-social a:hover {
        border: 1px solid #9C27B0;
        color: #9C27B0; }

.container-content {
  color: white;
  font-family: "Assistant", sans-serif; }
  .container-content i {
    padding: 0 .5em; }
  .container-content .content-box {
    align-items: flex-start; }
    .container-content .content-box .box-title {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      font-weight: 200;
      margin-bottom: .25em;
      margin-left: 3.5em; }
    .container-content .content-box .education-box {
      padding-bottom: .75em; }
      .container-content .content-box .education-box .education-experience-box {
        height: 3em;
        margin-left: 3.5em; }
        .container-content .content-box .education-box .education-experience-box span {
          display: block; }
        .container-content .content-box .education-box .education-experience-box span:first-of-type {
          font-weight: 600; }
        .container-content .content-box .education-box .education-experience-box span:nth-child(2) {
          font-size: .6em;
          font-weight: 200; }
        .container-content .content-box .education-box .education-experience-box span:last-of-type {
          font-size: .6em;
          font-weight: 400; }
    .container-content .content-box .skills-box {
      align-items: flex-start;
      flex-flow: wrap;
      margin-left: 3.5em;
      padding-bottom: .75em;
      padding-top: .25em; }
      .container-content .content-box .skills-box .skill-item {
        border: 1px solid white;
        border-radius: 1em;
        font-size: .7em;
        margin-right: .25em;
        margin-bottom: .5em;
        padding: .1em .5em; }
        .container-content .content-box .skills-box .skill-item i {
          padding: 0 .25em; }
    .container-content .content-box .work-box {
      padding-bottom: .75em; }
      .container-content .content-box .work-box .work-experience-box {
        margin-bottom: .5em;
        width: 100%; }
        .container-content .content-box .work-box .work-experience-box .experience-description span {
          display: block; }
        .container-content .content-box .work-box .work-experience-box .experience-description span:first-of-type {
          font-weight: 600; }
        .container-content .content-box .work-box .work-experience-box .experience-description span:nth-child(2) {
          font-size: .6em;
          font-weight: 200; }
        .container-content .content-box .work-box .work-experience-box .experience-description span:last-of-type {
          font-size: .6em;
          font-weight: 400; }
        .container-content .content-box .work-box .work-experience-box .experience-logo {
          width: 2.5em;
          padding: 0 .5em; }

.container-header {
  position: fixed;
  top: 0;
  width: 100%; }
  .container-header .header-bar {
    background-color: #212121;
    margin: 0; }
    .container-header .header-bar a:hover i {
      transform: scale(1.5); }

.container-profile {
  color: #212121;
  font-family: "Assistant", sans-serif;
  margin-bottom: 2em;
  margin-top: 2em; }
  .container-profile img {
    border-radius: 50%;
    display: block;
    margin: 1em 0;
    width: 50%; }
  .container-profile span {
    font-family: "Assistant", sans-serif;
    font-weight: 200;
    text-align: center; }
  .container-profile span:first-of-type {
    font-size: 3em; }

.header-bar {
  color: white;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  height: 2.5em;
  line-height: 2.5em;
  margin-top: .5em; }
  .header-bar a {
    color: white; }
  .header-bar i:last-of-type {
    float: right;
    padding: 0 1em;
    transition: all 250ms ease-in-out; }

.slider {
  padding-bottom: .75em;
  overflow: visible; }
  .slider .img-shadow img {
    margin: 0 .5em; }
  .slider .slide {
    background-color: white;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    height: 15em;
    justify-content: center;
    padding: 1em;
    transition: all 500ms ease-in-out; }
    .slider .slide img {
      max-height: 100%;
      max-width: 100%; }
  .slider .slider-nav {
    color: #212121;
    font-size: 2em;
    height: 2em;
    margin-top: -2em;
    opacity: .25;
    text-align: center; }
    .slider .slider-nav i {
      transition: all 250ms ease-in-out; }
      .slider .slider-nav i:active {
        color: #9C27B0;
        outline: none; }
      .slider .slider-nav i:first-of-type {
        float: left;
        font-size: 1.5em; }
      .slider .slider-nav i:hover {
        cursor: pointer;
        transform: scale(0.8); }
      .slider .slider-nav i:last-of-type {
        float: right;
        font-size: 1.5em; }

#content-design, #content-drawings, #content-work {
  display: none; }

#content-design, #header-design {
  background-color: #4CAF50; }

#content-drawings, #header-drawings {
  background-color: #F44336; }

#content-work, #header-work {
  background-color: #3F51B5; }

/* @ RULES */

/*# sourceMappingURL=stylesheet.css.map */
