/* SCSS organized alphabetically
 * in the following order:
 *
 * IMPORTS & VARIABLES
 *    Imports
 *    Colors
 *    Fonts
 *    Font weights
 *
 * STYLE
 *    Tags
 *    Classes
 *    IDs
 *
 * @ RULES
 *    Mixins
 *    Media Queries
 */

/* IMPORTS & VARIABLES */

// IMPORTS
@import 'https://fonts.googleapis.com/css?family=Assistant:200,400,600';

// COLORS
$black: #212121;
$blue: #3F51B5;
$green: #4CAF50;
$purple: #9C27B0;
$red: #F44336;
$white: #FFFFFF;

// FONTS
$serif: 'Assistant', sans-serif;

// FONT WEIGHTS
$bold: 600;
$regular: 400;
$thin: 200;

/* STYLE */

// TAGS

* {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:hover {
  cursor: pointer;
}

// CLASSES
.social-container {
  margin: 1em 0;
  width: auto;
  
  a {
    border: 1px solid $black;
    border-radius: 50%;
    height: 2em;
    line-height: 2em;
    margin: 0 .5em;
    text-align: center;
    transition: all 250ms ease-in-out;
    width: 2em;
  }
  
  a:hover {
    border: 1px solid $purple;
    color: $purple;
  }
  
  i {
    font-size: 1.5em;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center
}

.flex-spacebetween {
  justify-content: space-between;
}

.header-bar {
  color: #FFFFFF;
  font-family: $serif;
  font-size: 2em;
  font-weight: $thin;
  height: 1.5em;
  margin: .25em 0;
  transition: all 250ms ease-in-out;
  
  i, span {
    padding: 0 .5em;
    transition: all 250ms ease-in-out;
  }
}

.header-bar:hover {
  a > i, a > span {
    transform: scale(1.15);
  }
}

.header-container {
  .header-bar {
    background-position: left;
    background-size: auto;
  }
}

.profile > img {
  border-radius: 50%;
}

.width-full {
  width: 100%;
}

// IDS
#header-design {
  background-color: $green;
  background-image: url(../img/header/design.png);
  margin: 0;
}

#header-drawings {
  background-color: $red;
  background-image: url(../img/header/drawings.png);
}

#header-work {
  background-color: $blue;
  background-image: url(../img/header/work.png);
}

#header-design:hover, #header-drawings:hover, #header-work:hover {
  background-position: right;
}

/* @ RULES */

// MIXINS

// MEDIA QUERIES
@media (min-width: 800px) {
}

@media (min-width: 481px) and (max-width: 799px) {
}

@media (max-width: 480px) {
  .profile {
    margin: 2em 0;
    
    img {
      display: block;
      padding: 1em 0;
      width: 50%;
    }
    
    span {
      font-family: $serif;
      font-weight: $thin;
      text-align: center;
    }
    
    span:first-of-type {
      font-size: 3em;
    }
  }
  
  #header-container {
//    position: relative;
//    top: 0;
  }
  
  #header-main {
    background-color: $black;
    height: 2em;
    margin: 0;
    
    a {
      width: auto;
    }
    
    a:hover {
      color: $purple;
    }
  }
}